{% block main_navbar %}
    <nav class="navbar navbar-dark bg-primary">
        <a href="{{ path('homepage') }}" class="navbar-brand">
            <img src="{{ asset('build/images/cards-logo-white.svg') }}" alt="Cards Logo" />
        </a>

        <ul class="navbar-nav flex-row mr-auto">
           <li class="nav-item">
               <a href="{{ path('theme-showcase') }}" class="nav-link">
                   Theme Showcase
               </a>
           </li>
        </ul>

        <ul class="navbar-nav flex-row">
            <li class="nav-item ml-2">
                <a href="{{ path('login') }}" class="nav-link">
                    <i class="fa fa-sign-in"></i> Log In
                </a>
            </li>
            <li class="nav-item ml-2">
                <a href="{{ path('sign-up') }}" class="btn btn-light btn-sm text-primary px-2">
                    <i class="fa fa-sign-in"></i> Sign Up
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
